<div class="row">
  <% unless Info.all.count.zero? %>
    <div class="col-md-6" >
      <div class="header-panel">
        <%= link_to(infos_path(format: :xlsx), class: 'btn btn-primary pull-right') do %>
          <%= fa_icon "download" %>
          Excel
        <% end %>
        <%= link_to(clean_infos_path, method: :post, class: 'btn btn-danger pull-right') do %>
          <%= fa_icon "trash" %>
          Очистить
        <% end %>
        <h1>История данных</h1>
      </div>
      <table class="table table-striped">
        <thead>
            <th>Температура</th>
            <th>Влажность</th>
            <th>Дата создания</th>
        </thead>
        <tbody>
          <% @ordered.each do |record| %>
            <tr>
              <td><%= record.try(:temp) %></td>
              <td><%= record.try(:hum) %></td>
              <td><%= record.try(:created_at).try(:strftime, "%T, %D") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 chart-wrapper" >
      <h1>График температуры и влажности</h1>
      <div id="lineLegend"></div>
      <canvas id="temp_chart" width="600" height="400"></canvas>
      <div class="copyright row">
        &copy; Raphy BSU Team, 2014
        <%= link_to "О проекте", about_path, class: "pull-right"%>
      </div>
    </div>
  <% else %>
    <div class="col-md-6 col-md-offset-3" >
      <h1>Пока данных нет. Запустите спутник</h1>
    </div>
  <% end %>
</div>
